.todoItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  color: white;
  background-color: #24385b;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.todoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.todoItem-p--complete {
  color: #4caf50;
  text-decoration: line-through;
}

.icon {
  cursor: pointer;
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.icon-check {
  position: absolute;
  left: 12px;
}

.icon-check--active {
  color: #4caf50;
}

.icon-delete {
  position: absolute;
  right: 0;
}
.icon-delete:hover {
  color: red;
}